header {
  background-color: #99000b;
  color: #fef8f5;
  position: fixed;
  width: 100%;
  padding: 10px;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-size: 1.3rem;
  padding: 5px;
  font-weight: bold;
}

header nav {
  display: flex;
}

header nav a {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px;
}

section {
  display: flex;
  height: 100vh;
}
